
html[dark_mode='true'] .footer-path {
  fill: var(--body-color);
}

html[dark_mode='true'] #donate_button .footer-path  {
  stroke: var(--body-color);
  fill: var(--body-background-color);
}

#footer {
  position: relative;
  text-align: center;
  height: var(--footer-height);
  padding: 0 8px;

  border-top: 1px solid var(--box-shadow-color);
  background-color: var(--body-background-color);

  display: flex;
  align-items: center;
  gap: 4px;
}

#footer svg {
  width: 20px;
  cursor: pointer;
}

#footer a {
  flex: 1;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  font-size: 0.85rem;
  font-weight: 500;
  transition: background-color 0.15s ease;
}

#footer a:hover {
  cursor: pointer;
  background-color: var(--box-shadow-color);
}

#donate_button:hover > svg > .footer-path {
  -webkit-transition: stroke 0.1s;
  -moz-transition: stroke 0.1s;
  -o-transition: stroke 0.1s;
  transition: stroke 0.1s;

  -webkit-transition: fill 0.1s;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  transition: fill 0.1s;

  stroke: #F6000B;
}

#donate_button:active > svg > .footer-path {
  stroke: #F6000B;
  fill: #F6000B;
}

#feedback, #donors {
  text-decoration: none;
}
