
/* Visual cues for dark mode */
html[dark_mode='false'] { --svg-color: #464646 }
html[dark_mode='true']  { --svg-color: #E9E9E9 }

#header-settings circle,
#header-toggle path,
.dark_mode circle, .dark_mode path
{
  fill: var(--svg-color);
}

/* Dark mode styling */
html[dark_mode='true']  #header-dark  { display: none }
html[dark_mode='false'] #header-light { display: none }

#header {
  height: var(--header-height);
  padding: var(--header-padding);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;

  --icon-dim: 30px;
}

#header_hr {
  text-align: center;

  height: 1px;
  width: 99%;
  margin: 1px 0;
  border-width: 0;

  background-color: var(--box-shadow-color);
}

#header-logo {
  height: var(--icon-dim);
  max-height: var(--icon-dim);
  max-width: var(--icon-dim);
}
#header-text {
  margin-right: auto;
  font-size: 20px;
  color: var(--label-color);
}

#search_bar input {
  padding: 3px 6px 3px 6px;
  font-size: 18px;
}

#global_enable {
  margin-left: auto;

  display: flex;
  align-items: center;
}
#header-toggle {
  cursor: pointer;

  --power-icon-dim: calc(var(--icon-dim) - 6px);
  height: var(--power-icon-dim);
  max-height: var(--power-icon-dim);
  max-width: var(--power-icon-dim);
}
#dark_mode {
  display: flex;
  align-items: center;
}
#dark_mode a {
  display: flex;
  align-items: center;
}
#header-light, #header-dark {
  cursor: pointer;
  height: var(--icon-dim);
  max-height: var(--icon-dim);
  max-width: var(--icon-dim);
}
#header-settings {
  cursor: pointer;
  height: var(--icon-dim);
  max-height: var(--icon-dim);
  max-width: var(--icon-dim);
}
#settings-menu {
  font-size: 16px;

  position: fixed;
  z-index: 10;

  top: calc(5px + var(--header-height) + 2 * var(--header-padding));
  padding: 3px 1px;

  background-color: var(--body-background-color);
  color: var(--body-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 6px 3px var(--box-shadow-color);

  display: flex;
  flex-direction: column;
}
#settings-menu hr {
  width: 92%;
  margin: 3px auto;
}
#settings-menu > *:not(hr) {
  border-radius: var(--border-radius);
  margin: 1px 3px;
  padding: 4px 6px;
  cursor: default;
}
#settings-menu > *:not(hr):hover {
  background-color: #0600FB;
  color: white;
}
#settings-menu a {
  text-decoration: none;
}
html[global_enable="true"] #settings-enable,
html[global_enable="false"] #settings-disable,
html[log_enabled="true"] #log-enable,
html[log_enabled="false"] #log-disable,
html[foo=bar]
{
  display: none
}
