
#primary_options .section_container {
  margin: 0px 2px;
  padding: 5px;
  box-sizing: border-box;

  background-color: var(--body-background-color);
  border-radius: 1px;
/*  box-shadow: 0px 0px 0.5px 0.5px var(--box-shadow-color);*/

  display: flex;
  flex-direction: column;
  gap: 1px;
}

#primary_options .section_label {
  margin-bottom: 3px;
  margin-left: 35px;
  width: fit-content;

  font-size: 1rem;
  text-align: left;
  color: var(--label-color);

  border-bottom: 1px solid var(--box-shadow-color);
}

#primary_options .section_label a {
  text-decoration: none;
}


div.option {
	cursor: default;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
}

/* Visual cues when the extension is enabled vs. disabled */
.option_toggle circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
.option_toggle[active] .option-toggle-circle { cx: 11px }
.option_toggle[active] .option-toggle-outer-path { fill: var(--blue-color) }

.option_toggle {
	width: 25px;
}

.option_label {
	position: relative;
	top: 2px;
	margin-left: 8px;
  font-size: 0.95rem;
}

.noselect {
  user-select: none;
}
