.removed {
	display: none !important;
}

div.option {
	cursor: default;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
}

/* Visual cues when the extension is enabled vs. disabled */
.option_toggle circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
.option_toggle[active] .option-toggle-circle { cx: 11px }
.option_toggle[active] .option-toggle-outer-path { fill: var(--blue-color) }

.option_toggle {
	width: 25px;
}

.option_label {
	position: relative;
	top: 2px;
	margin-left: 8px;
  font-size: 18px;
}

.noselect {
  user-select: none;
}
