
#primary_options .section_container {
  margin: 0px 4px;
  padding: 4px 6px;
  box-sizing: border-box;

  background-color: var(--body-background-color);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 0px;
}

#primary_options .section_label {
  margin-bottom: 2px;
  margin-left: 33px;
  width: fit-content;

  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  color: var(--label-color);

  border-bottom: 1px solid var(--box-shadow-color);
}

#primary_options .section_label a {
  text-decoration: none;
}


div.option {
	cursor: default;
  display: flex;
  align-items: flex-start;
  padding: 1px 4px;
  border-radius: 4px;
  transition: background-color 0.1s ease;
}

div.option:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

html[dark_mode='true'] div.option:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

/* Visual cues when the extension is enabled vs. disabled */
.option_toggle circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
.option_toggle[active] .option-toggle-circle { cx: 11px }
.option_toggle[active] .option-toggle-outer-path { fill: var(--blue-color) }

.option_toggle {
	width: 25px;
  flex-shrink: 0;
}

.option_label {
	position: relative;
	top: 2px;
	margin-left: 8px;
  font-size: 0.9rem;
}

.noselect {
  user-select: none;
}
