#disabled_message {
  text-align: center;
  height: var(--body-height);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 18px;
}

#timer_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: calc(var(--footer-height) + 3px);
  width: 100vw;
  z-index: 100;
  font-size: 18px;

  background-color: rgba(255, 255, 255, 0.97);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15vh;
}

#primary_options {
  height: var(--body-height);
  overflow: scroll;
  overflow-x: hidden;

  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  padding: 1px;
  padding-top: 6px;
}

#primary_options .section_container {
  margin-bottom: 10px;
}

#primary_options .section_container:not(:last-child) {
  margin-bottom: 20px;
}

.section_container {
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;

  background-color: var(--body-background-color);
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0.5px var(--box-shadow-color);
}

.section_label {
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--label-color);
}
