html:not([loaded]), html:not([loaded]) body {
  height: 0 !important;
  overflow: hidden;
}

body {
  margin: auto;
}

html[dark_mode='true'] {
  --body-color: #B9B9B9;
  --body-background-color: #393939;
  --hover-fieldset-legend-color: #F9F9F9;
}

html[dark_mode='false'], html:not[dark_mode] {
  --body-color: #000000;
  --body-background-color: #ffffff;

  --hover-fieldset-legend-color: #000000;
}

/*html, body { height: 100% }*/

html[global_enable="true"] #disabled { display: none; }
html[global_enable="false"] #primary_options {
  display: none;
}

body {
  background-color: var(--body-background-color);
}
body * {
  color: var(--body-color);
}


a {
  color: var(--body-color);
}

body {
  width: 450px;
  height: fit-content;
  /*min-width: 450px;*/
  /*max-width: 450px;*/
  /*max-height: 700px;*/

  padding: 2px 2px 2px 2px;
}

body, body * {
  font-size: 15px;
  font-family: Helvetica;
}
