html:not([loaded]), html:not([loaded]) body {
  height: 0 !important;
  overflow: hidden;
}

body {
  margin: auto;
}

html[dark_mode='true'] {
  --body-color: #B9B9B9;
  --body-background-color: #393939;
  --label-color: #E9E9E9;
}

html[dark_mode='false'], html:not[dark_mode] {
  --body-color: #000000;
  --body-background-color: #ffffff;
  --label-color: #000000;
}

html[global_enable="true"] #disabled { display: none; }
html[global_enable="false"] #primary_options {
  display: none;
}

body {
  background-color: var(--body-background-color);
}
body * {
  color: var(--body-color);
}


a {
  color: var(--body-color);
}

body {
  width: 450px;
  height: fit-content;

  /* top, right, bottom, left */
  padding: 2px 4px 3px 4px;
}

body, body * {
  font-family: Helvetica;
}
