
/* Visual cues when the extension is enabled vs. disabled */
#header-toggle-circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
html[global_enable="true"] #header-toggle-circle { cx: 11px }
html[global_enable="true"] #header-toggle-outer-path { fill: green }

/* Visual cues for dark mode */
html[dark_mode='false'] #header-toggle path {
  fill: #464646;
}
html[dark_mode='true'] #header-toggle path {
  fill: var(--label-color);
}

/* Dark mode styling */
html[dark_mode='true']  #header-dark  { display: none }
html[dark_mode='false'] #header-light { display: none }

#header {
  height: 30px;
  padding: 5px;

  display: flex;
  justify-content: space-between;

  --icon-dim: 30px;
}

#header-left {
  width: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#header-left a {
  display: flex;
  align-items: center;
}
#header-logo {
  height: var(--icon-dim);
  max-height: var(--icon-dim);
  max-width: var(--icon-dim);
}
#header-text {
  font-size: 20px;
  color: var(--label-color);
}

#header-right {
  width: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
#dark_mode {
  display: flex;
  align-items: center;
}
#dark_mode a {
  display: flex;
  align-items: center;
}
#header-light, #header-dark {
  cursor: pointer;
  height: var(--icon-dim);
  max-height: var(--icon-dim);
  max-width: var(--icon-dim);
}
#global_enable {
  display: flex;
  align-items: center;
}
#header-toggle {
  cursor: pointer;
  height: calc(var(--icon-dim) - 3px);
  max-height: var(--icon-dim);
  max-width: var(--icon-dim);
}

#search_bar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#search_bar input {
  width: 50%;
  margin-top: 5px;
  padding: 3px 6px 3px 6px;

  background-color: var(--body-background-color);

  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0.5px var(--box-shadow-color);

  font-size: 18px;
}
#search_bar input:focus{
    outline: none;
}
