
/* Visual cues when the extension is enabled vs. disabled */
#header-toggle-circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
html[global_enable="true"] #header-toggle-circle { cx: 11px }
html[global_enable="true"] #header-toggle-outer-path { fill: green }

/* Dark mode styling */
html[dark_mode='true']  #header-light { display: none }
html[dark_mode='false'] #header-dark  { display: none }

#header-contents {
  position: relative;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#header-logo {
  position: absolute;
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header-logo:hover {
  height: 98%;
}
#header-text {
  top: 3px;
  position: relative;
  margin-left: 35px;

  /*font-weight: bold;*/
  font-size: 20px;
  color: var(--label-color);
}

#header-light, #header-dark {
  cursor: pointer;
  left: calc(100% - 57px);
  height: 92%;

  /* center vertically */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#header-toggle {
  cursor: pointer;

  position: absolute;
  left: calc(100% - 25px);
  height: 75%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html[dark_mode='false'] #header-toggle path {
  fill: #464646;
}
html[dark_mode='true'] #header-toggle path {
  fill: var(--label-color);
}

#search-bar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#search-bar input {
  width: 100%;
  padding: 5px;
  background-color: var(--body-background-color);
  border: 1px groove gray
}
#search-bar input:focus{
    outline: none;
}