.removed {
	display: none !important;
}

div.option {
	cursor: default;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
}

/* Visual cues when the extension is enabled vs. disabled */
.option_toggle circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
.option_toggle[active] .option-toggle-circle { cx: 11px }
.option_toggle[active] .option-toggle-outer-path { fill: #0006FB }

.option_toggle {
	width: 25px;
}

.option_label {
	position: relative;
	top: 5px;
	margin-left: 8px;
  font-size: 18px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
