
/* Visual cues when the extension is enabled vs. disabled */
#header-toggle-circle {
  -webkit-transition: cx 0.1s;
  -moz-transition: cx 0.1s;
  -o-transition: cx 0.1s;
  transition: cx 0.1s;
}
html[global_enable="true"] #header-toggle-circle { cx: 11px }
html[global_enable="true"] #header-toggle-outer-path { fill: green }
html[global_enable="true"] #disabled { display: none; }
html[global_enable="false"] #primary_options {
  display: none;
}

/* Dark mode styling */
html[dark_mode='true']  #header-light { display: none }
html[dark_mode='false'] #header-dark  { display: none }
html[dark_mode='true'] body { background-color: #393939 }
html[dark_mode='true'] body * { color: #B9B9B9 }
html[dark_mode='true'] .footer-path { fill: #B9B9B9 }

html[dark_mode='true'] {
  --hover-box-shadow-color: rgba(0, 0, 0, 0.95);
  --hover-fieldset-legend-color: white;
}
html[dark_mode='false'] {
  --hover-box-shadow-color: rgba(0, 0, 0, 0.30);
  --hover-fieldset-legend-color: black;
}

/* Begin Main styling */
html, body { height: 100% }

a {
  color: #000000;
}

body {
  min-width: 349px;
  max-width: 350px;
  height: fit-content;
  max-height: 700px;

  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
}

body, body * {
  font-size: 12px;
  font-family: Helvetica;
}

/* Begin header */
#header {
  overflow: auto;
}
#header-contents {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#header-logo {
  position: absolute;
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header-logo:hover {
  height: 98%;
}
#header-text {
  margin-left: 30px;
  font-size: 14px;
}
#header svg {
  height: 95%;
}

#dark_mode {
  position: absolute;
  left: calc(100% - 75px);
  height: 100%;
  width: 30px;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header-light, #header-dark {
  cursor: pointer;
}

#header-toggle {
  cursor: pointer;

  position: absolute;
  left: calc(100% - 45px);
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#disabled {
  text-align: center;
  height: 300px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* Begin options  */
#primary_options {
  min-height: 300px;
  max-height: 500px;
  overflow: scroll;
  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  padding: 1px;
}

#primary_options div {
  height: 15px;
}

#primary_options fieldset:not(:nth-child(1)) {
  margin-top: 5px;
}

fieldset {
  padding-bottom: 5px;
  box-sizing: border-box;
}
fieldset:hover legend, fieldset:hover legend * {
  font-weight: bold;
  color: var(--hover-fieldset-legend-color);
}
fieldset:hover {
  box-shadow: 10px 5px 10px 1px var(--hover-box-shadow-color);
  box-sizing: border-box;
}

label {
  position: relative;
}

.tooltip {
  position: absolute;
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  margin-left: 1px;
}
.tooltip:hover {
  height: 110%;
}

.option_name_container {
  cursor: default;
}

/* Redirect options */
.redirect_link {
  text-decoration: none;
}
.redirect_off, .redirect_to_subs, .redirect_to_wl {
  display: inline-block;
}

/* Manage history */
#manage_history_container {
  text-align: center;
  height: 20px;
  padding-top: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px groove gray;
}
#manage_history {
  text-align: right;
}

/* Begin footer */
#footer {
  position: relative;
  text-align: center;
  height: 20px;
  margin-top: 4px;
  border: 1px groove gray;

  display: flex;
}

#footer svg {
  height: 95%;
  cursor: pointer;
}

#footer a {
  flex-grow: 1;
}