
/* Global enable/disable buttons  */
html[global_enable="false"] input.global_enable.enabled,
html[global_enable="true"]  input.global_enable.disabled,
html[foo=bar]
{
  display: none !important;
  background-color: gray;
}

/* Visual cues when the extension is enabled vs. disabled */
/*#toggle-svg-outer-path { transition: fill 0.1s }*/
#toggle-svg-circle { transition: cx 0.1s }
html[global_enable="true"] #toggle-svg-circle { cx: 11px }
html[global_enable="true"] #toggle-svg-outer-path { fill: green }
/*html[global_enable="true"] #toggle-svg-inner-path { opacity: 0 }*/

#primary_options { transition: background-color 0.2s }
#primary_options * { transition: color 0.2s }
html[global_enable="false"] #primary_options { background-color: gray }
html[global_enable="false"] #primary_options *
{
  pointer-events: none;
  color: white;
}
html[global_enable="false"] #primary_options .inactive,
html[global_enable="false"] #primary_options .active,
html[foo=bar] { visibility: hidden }


/* Begin Main styling */
html, body { height: 100% }

/* Begin header */
#header {
  overflow: auto;
}
#header-contents {
  position: relative;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#header-logo {
  position: absolute;
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header-logo:hover {
  height: 98%;
}
#header-text {
  margin-left: 30px;
  font-size: 16px;
}
.header-toggle {
  position: absolute;
  left: calc(100% - 30px);
  /*float: right;*/
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Begin options  */
#primary_options {
  height: 300px;
  overflow: scroll;
  transition: box-shadow 0.1s;
  padding: 2px;
}
#primary_options:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.30);
}

#primary_options div {
  height: 16px;
}

#primary_options fieldset:not(:nth-child(1)) {
  margin-top: 5px;
}

.option_name_container {
  cursor: default;
}

/* Redirect options */
.redirect_link {
  text-decoration: none;
}
.redirect_off, .redirect_to_subs, .redirect_to_wl {
  display: inline-block;
}

/* General formatting */
body {
  min-width: 300px;
  max-width: 800px;
  max-height: 600px;

  /*border-width: 4.5px;*/
  /*border-style: solid;*/
  /*border-color: rgba(0,0,0,0.7);*/

  padding: 2px 2px 2px 2px;
}

body, body * {
  font-size: 12px;
  font-family: Helvetica;
}

#logo_container img {
  width: 32px;
  height: auto;
}

#header_legend {
  font-size: larger;
  text-align: center;
}

#header_container * {
  text-align: center;
}

#reload_header {
  text-align: center;
  margin-bottom: 5px;
}

#reload_container {
  text-align: center;

  padding: 4px;
  border-width: 2px;
  border-style: groove;
  border-color: gray;

  margin: 4px 2px 1px 2px;
}

#help_container {
  text-align: left;
  padding: 8px;
  border-width: 2px;
  border-style: groove;
  border-color: gray;

  margin: 4px 2px 1px 2px;
}

.crypto_address {
  font-size: 7px;
  font-family: monospace;
}

a {
  color: #000000;
}

.minor_text {
  font-size: 10px;
  font-style: italic;
}
