body {
	border-width: 4.5px;
	border-style: solid;
	border-color: black;

	padding: 2px 2px 2px 2px;
}

html[global_enable="false"] #primary_options
{
	background-color: gray;
	color:  white;
}

html[global_enable="false"] #primary_options *
{
	pointer-events: none;
}

#header_legend {
	font-size: larger;
	text-align: center;
}

#header_container * {
	text-align: center;
}

#reload_header {
	text-align: center;
	margin-bottom: 5px;
}

#reload_container {
	text-align: center;

	padding: 4px;
	border-width: 2px;
	border-style: groove;
	border-color: gray;

	margin: 4px 2px 1px 2px;
}

#help_container {
	text-align: left;
	padding: 8px;
	border-width: 2px;
	border-style: groove;
	border-color: gray;

	margin: 4px 2px 1px 2px;
}

#help_header {
	text-align: center;
}

a {
	color: #000000;
}
