
/* Setting is enabled. Hide "inactive" class elements. */
html[remove_homepage="true"] .remove_homepage .inactive,
html[remove_sidebar="true"] .remove_sidebar .inactive,
html[remove_sidebar="true"] .remove_sidebar .inactive,
html[remove_end_of_video="true"] .remove_end_of_video .inactive,
html[remove_info_cards="true"] .remove_info_cards .inactive,
html[remove_home_link="true"] .remove_home_link .inactive,
html[remove_logo_link="true"] .remove_logo_link .inactive,
html[remove_explore_link="true"] .remove_explore_link .inactive,
html[remove_comments="true"] .remove_comments .inactive,
html[remove_chat="true"] .remove_chat .inactive,
html[redirect_off="true"] .redirect_off .inactive,
html[redirect_to_subs="true"] .redirect_to_subs .inactive,
html[redirect_to_wl="true"] .redirect_to_wl .inactive,
html[foo=bar]
{
	display:  none;
}

/* Setting is not enabled. Hide "active" class elements. */
html[remove_homepage="false"] .remove_homepage .active,
html[remove_sidebar="false"] .remove_sidebar .active,
html[remove_sidebar="false"] .remove_sidebar .active,
html[remove_end_of_video="false"] .remove_end_of_video .active,
html[remove_info_cards="false"] .remove_info_cards .active,
html[remove_home_link="false"] .remove_home_link .active,
html[remove_logo_link="false"] .remove_logo_link .active,
html[remove_explore_link="false"] .remove_explore_link .active,
html[remove_comments="false"] .remove_comments .active,
html[remove_chat="false"] .remove_chat .active,
html[redirect_off="false"] .redirect_off .active,
html[redirect_to_subs="false"] .redirect_to_subs .active,
html[redirect_to_wl="false"] .redirect_to_wl .active,
html[foo=bar]
{
	display: none;
}

/* Global enable/disable buttons  */
html[global_enable="false"] input.global_enable.enabled, 
html[global_enable="true"] input.global_enable.disabled,
html[foo=bar]
{
	display: none !important;
	background-color: gray;
}

/* Enable visual cues when the extension is disabled */
html[global_enable="false"] #primary_options
{
	background-color: gray;
}
html[global_enable="false"] #primary_options *
{
	pointer-events: none;
	color: white;
}
html[global_enable="false"] #primary_options .inactive,
html[global_enable="false"] #primary_options .active,
html[foo=bar]
{
	visibility: hidden;
}

/* Redirect options */
.redirect_link {
	text-decoration: none;
}
.redirect_off, .redirect_to_subs, .redirect_to_wl {
	display: inline-block;
}

/* General formatting */
body {
	max-width: 800px;
	max-height: 600px;

	/*border-width: 4.5px;*/
	/*border-style: solid;*/
	/*border-color: rgba(0,0,0,0.7);*/

	padding: 2px 2px 2px 2px;
}

body * {
	font-size: 12px;
	font-family: Helvetica;
}

#logo_container img {
	width: 50px;
	height: auto;
}

#header_legend {
	font-size: larger;
	text-align: center;
}

#header_container * {
	text-align: center;
}

#reload_header {
	text-align: center;
	margin-bottom: 5px;
}

#reload_container {
	text-align: center;

	padding: 4px;
	border-width: 2px;
	border-style: groove;
	border-color: gray;

	margin: 4px 2px 1px 2px;
}

#help_container {
	text-align: left;
	padding: 8px;
	border-width: 2px;
	border-style: groove;
	border-color: gray;

	margin: 4px 2px 1px 2px;
}

#help_header {
	text-align: center;
}

.crypto_address {
	font-size: 7px;
	font-family: monospace;
}

a {
	color: #000000;
}

.minor_text {
	font-size: 10px;
	font-style: italic;
}